* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color-red: #E3646E;
    --main-color-purple: #BB72E9;
    --main-color-blue: #3996DB;
    --main-color-green: #82BC4F;
    --main-color-yellow: #EABD5F;

    --base-color-gray-100: #0D0E11;
    --base-color-gray-200: #16181D;
    --base-color-gray-300: #292C34;
    --base-color-gray-400: #878EA1;
    --base-color-gray-500: #C0C4CE;
    --base-color-gray-600: #E2E4E9;
    
    --font-title: "Asap", sans-serif;
    --title-lg: 800 56px/120% var(--font-title);
    --title-md: 800 24px/120% var(--font-title);
    --title-sm: 800 16px/120% var(--font-title);

    --font-text: "Inconsolata", monospace;
    --subtitle: 400 20px/120% var(--font-text);

    --font-sm: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-sm);
    --text-sm: 400 14px/140% var(--font-sm);  
    
}

body {
    font: var(--subtitle);
    color: var(--base-color-gray-500);

    overflow-x: hidden;

    scroll-behavior: smooth;
}

h1 {
    font: var(--title-lg);
    color: var(--base-color-gray-600);
}

h2 {
    font: var(--title-md);
    color: var(--base-color-gray-600);
}

h3 {
    font: var(--title-sm);
    color: var(--base-color-gray-600);
}

p {
    font: var(--text-sm);
    color: var(--base-color-gray-500);
}

strong {
    color: var(--main-color-red);
} 