#services {
    width: 100%;
    height: 480px;
    background-color: var(--base-color-gray-100);
    padding-block: 5.5rem;
    

    & header {
        
        & strong {
            margin-inline: auto;
            padding-bottom: 0.5rem;
        }
        
        & h2 {
            margin-inline: auto;
            margin-bottom: 3.5rem;
        }
    }
}