.btn {
    text-decoration: none;
    font: var(--text-md);
    color: var(--base-color-gray-500);
    border-radius: 50px;
    background-color: var(--base-color-gray-300);
    padding: 0;
}

.btn img {
    position: relative;
    margin-inline: auto;
    width: 20px;
    height: 20px;
    margin-block: -4px;
}

.btn-social {
    text-decoration: none;
    font: var(--text-md);
    color: var(--base-color-gray-500);
    border-radius: 8px;
    background-color: var(--base-color-gray-300);
    padding: 23px;
    gap: 16px;
}

.btn-social img {
    position: relative;
    width: 23px;
    height: 23px;
}

.container {
    width: 1366px;
    /* height: 750px; */
    padding-top: 120px;
    /* padding-inline: 163px; */
    margin-inline: auto;
}

.container-contacts {
    width: 750px;
    /* height: 550px; */
    padding: 5.5rem;
    margin-inline: auto;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

.flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}

.gap-1\.5 {
    gap: 1.5rem;
}

.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 20.625rem);
}

.items-center {
    align-items: center;
}